
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
/*or you can do
@import url('https://fonts.google.com/specimen/Josefin+Sans'); */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.overall-container {
    display: flex;
    background-image: url('images/Subtle-Stripes-white.svg');
    

}
.overall-container .left {
    width: 55%;
}

.overall-container .right {
    background-image: url("images/bible-photo2.jpg");
    background-size: cover;  
    background-position: center;
    background-repeat: no-repeat; /* these three backgrounds thingy 
    necessary */
    width: 45%;    /* if you don't add width, image won't show */
    min-height: 100vh;
}

.inner-container {
    margin: auto;
    padding: 55px 100px;
    height: 100vh;
    max-width: 600px;
    
}

.logo {
    margin-bottom: 70px;
    width: 250px;
}




h1 {
    transform: translateX(-100%);
    padding: 20px 0px;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 9.5px;
    font-weight: 400;
    animation: comeinfromleft 0.5s ease forwards;
}

span {
    color: hsl(138, 99%, 26%);
    font-weight: 200;
}

p {
    color: hsl(138, 99%, 26%);
    line-height: 1.8;
    margin-bottom: 40px;
}

/* not common practice, but simple project */

form {
    position: relative;
    transform: translateY(100%);
    
    animation: comeinfrombottom 0.5s ease forwards;
}

input {
    width: 100%;
    height: 50px;
    font-size: 16px;
    border: 1px solid hsl(34, 86%, 66%);
    padding: 12.5px 24px;
    border-radius: 50px;
    background: transparent;
    
}

input:focus {
    box-shadow: 0px 0px 5px hsla(34, 86%, 66%, 0.7);
    outline: none;
}

input::placeholder {
    color: hsl(34, 86%, 66%);
}

button {
    cursor: pointer;
    outline: none;
    position: absolute;
    transition: opacity 0.2s ease;
    background-image: linear-gradient(135deg, 
    hsl(34, 86%, 66%), 
    hsl(35, 86%, 46%));
    box-shadow: 2px 5px 10px hsla(35, 86%, 46%, 0.5);
    border-radius: 50px;
    width: 100px;
    border: none;
    height: 50px;
    top:  0;
    right: 0;
}
button:hover {
    opacity: 0.6;
}

form.error input {
    border: 3px solid hsl(41, 100%, 52%);

}
form.error .error-icon {
    display: block;
}
form.error small {
    display: block;
}
.error-icon {
    display: none;
    position: absolute;
    top: 13px;
    right: 110px;
}

small {
    display: none; /* display block for small to move */
    margin-top: 15px;
    margin-left: 24px;
    color: hsl(0, 93%, 68%);
}
.form.error .error-icon {
    display: block;
}
.form.error small {
    display: block;
}


/* animations */
@keyframes comeinfromleft {
    to {
        transform: translateX(0);
    }
}

@keyframes comeinfrombottom {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@media screen and (max-width: 768px) {
    .logo {
        
        
        margin-top: 30px;
        margin-bottom: 12px;
        width: 180px;
        
    }
    .left {
        width: 100%;
        align-self: center;
        text-align: center;
        flex: 1;
    }
    .right {
        display: none;
        flex: 0;
    }
    
    .inner-container {
        margin: auto;
        padding: 10px 55px;
        height: 100vh;
        max-width: 768px;
    }
    .bg-image-mobile-container {
        background-image: url('images/bible-photo2.jpg');
        width: calc(100% + 110px);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        min-height: 30vh;
        margin-bottom: 10px;
        margin-right: -55px;
        margin-left: -55px;
    }
    form input {
        height: 40px;
    }
    form button {
        height: 40px;
        width: 50px;
    }
    form input::placeholder {
        font-size: 12px;
    }
    h1 {
        font-size: 35px;
    }
    p {
        font-size: 13px;
    }
}